In [72]:
#import libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from itertools import islice
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import average_precision_score
from sklearn.metrics import confusion_matrix,accuracy_score, roc_curve, auc
from sklearn.preprocessing import MaxAbsScaler
from sklearn.neighbors import KNeighborsClassifier
from matplotlib import pyplot as plt
import pickle

# Set random seed
np.random.seed(0)

In [73]:
#load training data
tweet_df = pd.read_csv("data_train.csv")
tweet_df.columns

Index(['Id', 'Tweet', 'following', 'followers', 'actions', 'is_retweet',
       'location', 'Type'],
      dtype='object')

In [74]:
#Melihat lima data teratas
tweet_df.head()

,Id,Tweet,following,followers,actions,is_retweet,location,Type
0,10091,It's the everything else that's complicated. #...,0.0,11500.0,NaN,0.0,Chicago,Quality
1,10172,Eren sent a glare towards Mikasa then nodded a...,0.0,0.0,NaN,0.0,NaN,Quality
2,7012,I posted a new photo to Facebook http://fb.me/...,0.0,0.0,NaN,0.0,"Scotland, U.K",Quality
3,3697,#jan Idiot Chelsea Handler Diagnoses Trump Wit...,3319.0,611.0,294.0,0.0,FBBIGBANG&2NE1TH,Spam
4,10740,Pedophile Anthony Weiner is TERRIFIED of Getti...,4840.0,1724.0,1522.0,0.0,www.instagram.com/fender,Spam

In [75]:
#Melihat isi dan jumlah dari 'Type'
tweet_df['Type'].value_counts()

Quality    6153
Spam       5815
Name: Type, dtype: int64

In [76]:
#Normalisasi
tweet_df['Type'].value_counts(normalize=True)

Quality    0.514121
Spam       0.485879
Name: Type, dtype: float64

In [77]:
#Melihat Statistik
tweet_df.describe()

                 Id     following     followers        actions    is_retweet
count  11968.000000  1.182300e+04  1.195200e+04    9195.000000  11967.000000
mean    6292.273730  4.787110e+03  3.668763e+05    7314.563893      0.223949
std     3632.510153  3.158289e+04  3.973314e+06   16468.215132      0.416906
min        1.000000  0.000000e+00  0.000000e+00       0.000000      0.000000
25%     3150.750000  0.000000e+00  0.000000e+00      10.000000      0.000000
50%     6289.500000  5.100000e+01  8.415000e+02    1487.000000      0.000000
75%     9442.250000  3.635000e+03  1.328775e+04    7265.500000      0.000000
max    12598.000000  1.600000e+06  1.050000e+08  165865.000000      1.000000

In [78]:
#Melihat Statistik non-angka
tweet_df.describe(exclude=[np.number])

,Tweet,location,Type
count,11968,10317,11968
unique,11787,2893,2
top,[HAPPY BIRTHDAY TAEYANG]\noriginally posted by...,United States,Quality
freq,10,2521,6153

In [69]:
#Mengubah tipe data pada "Type" menjadi angka (0 dan 1)
#Type = {'Spam': 1,'Quality': 0}
#tweet_df.Type = [Type[item] for item in tweet_df.Type]

In [79]:
labels = tweet_df.Type
labels.head()

0    Quality
1    Quality
2    Quality
3       Spam
4       Spam
Name: Type, dtype: object

In [80]:
#Membagi data latih menjadi data latih dan data validasi
X_train, X_valid, y_train, y_valid = train_test_split(tweet_df["Tweet"], tweet_df["Type"], test_size=0.2)

In [81]:
print("Training Data: {}, Validation: {}".format(len(X_train), len(X_valid)))

Training Data: 9574, Validation: 2394

In [82]:
#vectorizing data (mengubah kata-kata menjadi angka yang dapat diinterpretasikan oleh model)
tweet_df_v = CountVectorizer(max_features=5000, binary=True, stop_words="english")

In [83]:
#Mengimplementasikan proses vektorisasi pada data latih
tweet_df_v.fit(X_train)
X_train_v = tweet_df_v.transform(X_train)
X_valid_v = tweet_df_v.transform(X_valid)

In [84]:
#Melihat hasil vektorisasi
tweet_df_v.vocabulary_

{'idol': 2199,
 'singer': 4020,
 'successful': 4263,
 'fan': 1632,
 'sones': 4092,
 'proud': 3462,
 'fandom': 1634,
 'ijwd1stwin': 2210,
 'video': 4735,
 'watch': 4809,
 'goals': 1903,
 'helped': 2061,
 'jonathan': 2406,
 'receive': 3586,
 'http': 2161,
 'youtu': 4983,
 'everybody': 1558,
 'follow': 1747,
 'instagram': 2286,
 'amazing': 290,
 'photos': 3269,
 'user': 4689,
 'twitter': 4627,
 'com': 985,
 'understand': 4650,
 'cause': 814,
 'goes': 1906,
 'talented': 4343,
 'oscarhasnocolor': 3148,
 've': 4716,
 'seen': 3910,
 'people': 3239,
 'facebook': 1607,
 'going': 1907,
 'leave': 2562,
 'strange': 4228,
 'fence': 1675,
 'way': 4818,
 'right': 3742,
 'wing': 4874,
 'loved': 2687,
 'time': 4493,
 'crap': 1130,
 'lost': 2676,
 'activity': 183,
 'failed': 1615,
 'latest': 2529,
 'yoga': 4975,
 'day': 1221,
 'directive': 1337,
 'govt': 1931,
 'faces': 1608,
 'charges': 863,
 'agenda': 234,
 'daily': 1191,
 'news': 3025,
 'bit': 579,
 'ly': 2704,
 'want': 4785,
 'turn': 4615,
 'car': 780,
 'amp': 303,
 'times': 4494,
 'dad': 1189,
 'threatens': 4468,
 'moodpic': 2908,
 'hi': 2072,
 'grandma': 1939,
 'come': 986,
 'pick': 3272,
 'rap': 3550,
 'battle': 507,
 'saw': 3852,
 'drop': 1423,
 'did': 1321,
 'pretty': 3400,
 'devastating': 1315,
 'sad': 3819,
 'history': 2099,
 'culture': 1168,
 'great': 1945,
 'country': 1111,
 'ripped': 3746,
 'apart': 341,
 'removal': 3647,
 'beautiful': 523,
 'statues': 4194,
 'monuments': 2906,
 'beyonc': 555,
 'won': 4901,
 'pictures': 3277,
 'https': 2162,
 'lake': 2511,
 'identified': 2195,
 'oil': 3106,
 'threat': 4465,
 'according': 160,
 'release': 3633,
 'cleveland': 938,
 'pay': 3220,
 'million': 2847,
 'cancer': 770,
 'death': 1233,
 'linked': 2625,
 'powder': 3365,
 'lawyers': 2544,
 'health': 2039,
 'status': 4195,
 'guess': 1964,
 'acting': 176,
 'cr': 1126,
 'fun': 1820,
 'pic': 3271,
 'hungry': 2174,
 'know': 2483,
 'united': 4660,
 'surprised': 4301,
 'liberals': 2594,
 'vote': 4756,
 'like': 2611,
 'corrupt': 1095,
 'hillaryclinton': 2085,
 'americans': 298,
 'cheer': 879,
 'trump': 4589,
 'destroys': 1308,
 'epa': 1528,
 'trying': 4604,
 'breaking': 683,
 'delivers': 1268,
 'water': 4812,
 'florida': 1736,
 'stupid': 4252,
 'person': 3252,
 'moment': 2895,
 'luke': 2700,
 'rey': 3732,
 'central': 832,
 'entire': 1523,
 'star': 4173,
 'wars': 4801,
 'bet': 552,
 'george': 1866,
 'maybe': 2777,
 'thank': 4428,
 'omg': 3114,
 'retweet': 3714,
 'excited': 1568,
 'new': 3022,
 'shots': 3992,
 'update': 4674,
 'app': 347,
 'respect': 3693,
 'women': 4900,
 'demand': 1272,
 'brian': 689,
 'immediately': 2225,
 'fired': 1713,
 'kind': 2468,
 'waiting': 4771,
 'politics': 3338,
 'transformation': 4551,
 'tuesday': 4610,
 'www': 4953,
 'man': 2738,
 'bank': 480,
 'searching': 3891,
 'robbed': 3758,
 'friday': 1805,
 'crime': 1145,
 'donald': 1389,
 'vs': 4764,
 'fox': 1784,
 'roger': 3769,
 'bathroom': 503,
 'gopdebate': 1920,
 'stopthegop': 4218,
 'said': 3822,
 'tweets': 4623,
 'comedy': 988,
 'idea': 2193,
 'true': 4587,
 'don': 1388,
 'nonsense': 3046,
 'turned': 4616,
 'interview': 2303,
 'offer': 3095,
 'feel': 1665,
 'stabbing': 4156,
 'looks': 2665,
 'muslims': 2963,
 'explain': 1587,
 'rise': 3747,
 'extremism': 1601,
 'religious': 3637,
 'thanks': 4430,
 'looking': 2664,
 'office': 3098,
 'space': 4115,
 'la': 2502,
 'area': 372,
 'patriots': 3218,
 'comeback': 987,
 'bs': 715,
 'barack': 488,
 'got': 1926,
 'radical': 3527,
 'ideas': 2194,
 'closer': 947,
 'finished': 1708,
 'studio': 4247,
 'today': 4505,
 'sending': 3924,
 'italy': 2346,
 'soon': 4096,
 'san': 3831,
 'jose': 2410,
 'residents': 3686,
 'return': 3711,
 'home': 2113,
 'flood': 1732,
 'destruction': 1309,
 'racial': 3522,
 'education': 1466,
 'hey': 2070,
 'potus': 3362,
 'poster': 3356,
 'just': 2429,
 'confirm': 1037,
 'obvious': 3087,
 'mr': 2937,
 'votes': 4760,
 'came': 762,
 'dems': 1280,
 'ms': 2939,
 'sturgeon': 4253,
 '63': 108,
 'tories': 4521,
 'labour': 2506,
 'gun': 1969,
 'hire': 2093,
 'jeff': 2378,
 'sessions': 3943,
 'used': 4688,
 'power': 3366,
 'target': 4358,
 'democrats': 1279,
 'guardian': 1963,
 'draft': 1406,
 'remix': 3646,
 'islamic': 2333,
 'state': 4185,
 'attacks': 425,
 'syrian': 4326,
 'government': 1929,
 'kurds': 2496,
 'twin': 4626,
 'assault': 409,
 'world': 4920,
 'heard': 2043,
 'soundcloud': 4105,
 'np': 3065,
 'sets': 3946,
 'utm_source': 4699,
 'utm_campaign': 4697,
 'share': 3966,
 'utm_medium': 4698,
 'business': 738,
 'leaders': 2551,
 'respond': 3694,
 'visit': 4752,
 'message': 2820,
 'quick': 3512,
 'using': 4693,
 'blog': 613,
 'sister': 4025,
 '23': 61,
 'years': 4968,
 'free': 1797,
 'brother': 705,
 'story': 4225,
 'russell': 3810,
 'westbrook': 4844,
 'scored': 3875,
 '19': 33,
 '3rd': 87,
 'quarter': 3506,
 'career': 786,
 'french': 1802,
 'self': 3914,
 'taught': 4366,
 'black': 587,
 'white': 4848,
 'reveals': 3722,
 'details': 1311,
 'honor': 2122,
 'anti': 334,
 'letting': 2583,
 'tweet': 4621,
 'account': 162,
 'happy': 2012,
 'birthday': 577,
 'best': 551,
 'love': 2686,
 'dobbs': 1370,
 'chasing': 872,
 'russian': 3812,
 'establishment': 1543,
 'gop': 1919,
 'hacks': 1984,
 'ignore': 2203,
 'reality': 3574,
 'greatest': 1946,
 'rt': 3796,
 'john': 2398,
 'mccain': 2780,
 'traitor': 4548,
 'nixon': 3037,
 'asking': 404,
 'jan': 2368,
 'photo': 3268,
 'president': 3395,
 'obama': 3080,
 'chance': 848,
 'washington': 4803,
 'built': 726,
 'stop': 4215,
 'online': 3117,
 'try': 4603,
 'send': 3923,
 'link': 2624,
 'social': 4075,
 'media': 2790,
 'knick': 2481,
 'center': 831,
 'biggie': 568,
 'tell': 4400,
 'fat': 1643,
 'joe': 2397,
 'says': 3855,
 'anthony': 333,
 'mason': 2763,
 'dlvr': 1365,
 'impeachment': 2231,
 'body': 629,
 'cam': 761,
 'shows': 3998,
 'cop': 1087,
 'shooting': 3983,
 'slavery': 4046,
 'cruise': 1160,
 'apple': 355,
 'iphone': 2324,
 'cnet': 959,
 'company': 1007,
 'end': 1503,
 'adding': 194,
 'pro': 3417,
 'plus': 3315,
 'pr': 3369,
 'elect': 1475,
 'expect': 1577,
 'sean': 3889,
 'run': 3805,
 'agree': 237,
 'fans': 1635,
 'check': 876,
 'guide': 1966,
 'need': 3006,
 'goo': 1914,
 'gl': 1892,
 'illegal': 2214,
 'blind': 607,
 'presence': 3389,
 'policebrutality': 3331,
 'marathon': 2743,
 'bombing': 635,
 'saved': 3849,
 'happen': 2007,
 'science': 3872,
 'ready': 3568,
 'decisions': 1247,
 'lincoln': 2620,
 'hills': 2088,
 'probe': 3419,
 '100': 12,
 'thought': 4460,
 'obamas': 3083,
 'real': 3570,
 'local': 2650,
 'meetings': 2796,
 'year': 4967,
 'old': 3110,
 'boy': 668,
 'wounded': 4931,
 'city': 919,
 'shootings': 3984,
 '31': 77,
 'athletes': 419,
 'face': 1606,
 'bans': 485,
 'competing': 1011,
 '2008': 45,
 'doping': 1398,
 'samples': 3830,
 'olympic': 3112,
 'org': 3141,
 'takes': 4339,
 'action': 177,
 'protect': 3455,
 'clean': 933,
 'beijing': 534,
 'london': 2657,
 'targeted': 4359,
 '17': 30,
 'miller': 2846,
 'field': 1683,
 '7pm': 123,
 'bone': 640,
 '30pm': 76,
 'hooligans': 2129,
 'squad': 4150,
 'walked': 4776,
 'bus': 735,
 'dressed': 1414,
 'allow': 283,
 'peacefully': 3230,
 'freebiafra': 1798,
 'realdonaldtrump': 3571,
 'meant': 2787,
 'insult': 2290,
 'response': 3696,
 'en': 1501,
 'wiki': 4861,
 'known': 2486,
 'ancient': 308,
 'greek': 1949,
 'statue': 4193,
 'model': 2889,
 'confirmed': 1038,
 'trans': 4549,
 'worth': 4928,
 'trumptrain': 4598,
 'brave': 678,
 'honest': 2119,
 'journalist': 2413,
 'blm': 608,
 'condemned': 1028,
 'actions': 178,
 'order': 3136,
 'round': 3789,
 'training': 4547,
 'congress': 1044,
 'cat': 806,
 'tracks': 4540,
 'remember': 3641,
 '06': 6,
 '08': 7,
 '2017': 54,
 'japan': 2370,
 'opening': 3122,
 'keynote': 2453,
 'art': 393,
 'learning': 2560,
 'ordinary': 3139,
 'hell': 2057,
 'does': 1377,
 'anderson': 309,
 'work': 4913,
 'deadly': 1228,
 'mexico': 2824,
 'blast': 599,
 'hit': 2100,
 'market': 2750,
 'packed': 3172,
 'holidays': 2110,
 'blasts': 600,
 'called': 756,
 'hater': 2028,
 'fb': 1652,
 'uk': 4642,
 'court': 1118,
 'hearing': 2044,
 'case': 798,
 'ill': 2213,
 'baby': 460,
 'defends': 1255,
 'care': 785,
 'law': 2536,
 'ahead': 240,
 'supreme': 4295,
 'ruling': 3804,
 'playing': 3308,
 'project': 3435,
 'ft': 1813,
 'coca': 966,
 'vango': 4714,
 'gt': 1961,
 'emx9jgtv3v': 1500,
 'positive': 3352,
 'mind': 2853,
 'flawless': 1728,
 'skin': 4035,
 'nice': 3030,
 'personality': 3254,
 'support': 4285,
 'taking': 4340,
 'refugees': 3611,
 'liberallogic': 2593,
 'vanderbilt': 4713,
 'football': 1759,
 'players': 3307,
 'charged': 862,
 'rape': 3551,
 'appear': 352,
 'helping': 2062,
 'hand': 2000,
 'senior': 3926,
 'guys': 1977,
 'memories': 2804,
 'lets': 2581,
 'make': 2726,
 'proven': 3466,
 'louis': 2684,
 'harry': 2022,
 'music': 2960,
 'choose': 900,
 'tmblr': 4502,
 'post': 3354,
 'states': 4187,
 'control': 1074,
 'nov': 3060,
 'election': 1477,
 'claims': 923,
 'living': 2641,
 'suicide': 4271,
 'doe': 1376,
 'legal': 2572,
 'continues': 1070,
 'driver': 1418,
 'accused': 167,
 '9th': 136,
 'arrests': 388,
 'milwaukee': 2851,
 'county': 1113,
 'senators': 3922,
 'urge': 4682,
 'press': 3398,
 'xi': 4956,
 'rights': 3743,
 'clarris': 926,
 'ted': 4392,
 'defend': 1252,
 'critics': 1152,
 'clariss': 924,
 'dms': 1367,
 'dis': 1340,
 'singing': 4021,
 'song': 4093,
 'spring': 4145,
 'musical': 2961,
 'woman': 4899,
 'cookie': 1082,
 'murder': 2953,
 'arrested': 387,
 'went': 4842,
 'chicken': 886,
 'night': 3034,
 'girl': 1881,
 'egg': 1471,
 'life': 2604,
 'long': 2659,
 'question': 3510,
 'text': 4421,
 'based': 497,
 'aleppo': 267,
 'forces': 1764,
 'inside': 2278,
 'school': 3868,
 'complex': 1017,
 '15': 24,
 '46': 92,
 'al': 255,
 'fighting': 1689,
 'ensure': 1519,
 'secret': 3900,
 'clinton': 943,
 'lynch': 2707,
 'meeting': 2795,
 'tonight': 4513,
 'total': 4525,
 'shit': 3977,
 'anybody': 338,
 'remove': 3648,
 'immigrants': 2226,
 'topnews': 4519,
 'arizona': 380,
 'officer': 3099,
 'suspect': 4308,
 'cleared': 936,
 'bay': 509,
 'holy': 2112,
 'minnesota': 2858,
 'wild': 4863,
 'coach': 961,
 'mike': 2840,
 'sports': 4137,
 'isis': 2330,
 'town': 4534,
 'editorial': 1463,
 'cartoon': 796,
 'mask': 2762,
 'ex': 1562,
 'sues': 4268,
 'damage': 1196,
 'homeland': 2114,
 'security': 3905,
 'computers': 1021,
 'vulnerable': 4765,
 'attack': 421,
 'audit': 437,
 'tech': 4388,
 'china': 893,
 'stocks': 4212,
 'rising': 3748,
 'despite': 1305,
 'economic': 1456,
 'data': 1213,
 'meltdown': 2799,
 'economy': 1457,
 'australian': 438,
 'premier': 3384,
 'offers': 3097,
 'asylum': 417,
 'ran': 3545,
 '18': 32,
 'mi': 2827,
 'route': 3791,
 'ga': 1831,
 'workout': 4918,
 'running': 3806,
 'islamists': 2335,
 'rolling': 3776,
 'german': 1868,
 'confirms': 1039,
 'plan': 3294,
 'billion': 571,
 'euro': 1549,
 'promote': 3442,
 'cars': 793,
 '160517': 28,
 'magazine': 2717,
 'credits': 1141,
 'prince': 3410,
 'returning': 3712,
 'favor': 1649,
 'hero': 2066,
 'getting': 1871,
 'help': 2060,
 'lawsuit': 2540,
 'filed': 1692,
 '400': 89,
 'iran': 2325,
 'refuse': 3612,
 'look': 2662,
 'treat': 4562,
 'islamkills': 2336,
 'heart': 2045,
 'pls': 3314,
 'let': 2580,
 'teach': 4375,
 'wireless': 4883,
 'battery': 506,
 'murders': 2956,
 'south': 4109,
 '30': 74,
 '40': 88,
 'award': 448,
 'divine': 1362,
 'google': 1918,
 'search': 3890,
 'console': 1058,
 'analytics': 307,
 'deeper': 1250,
 'level': 2584,
 'alex': 269,
 'klou': 2477,
 'tt': 4607,
 'bitches': 581,
 'aint': 246,
 'niggas': 3033,
 'loyal': 2694,
 'oklahoma': 3109,
 'texas': 4420,
 'bruh': 710,
 'god': 1905,
 'use': 4687,
 'attorney': 432,
 'general': 1862,
 'investigate': 2309,
 'expose': 1593,
 'prosecute': 3450,
 'criminals': 1148,
 'previous': 3403,
 'administration': 201,
 'robin': 3762,
 'child': 888,
 'dies': 1327,
 'apartment': 342,
 'employees': 1499,
 'dead': 1225,
 'dog': 1380,
 'winter': 4880,
 'storm': 4222,
 'effect': 1467,
 'ohio': 3105,
 'crying': 1162,
 'principal': 3411,
 'secretary': 3901,
 'chaos': 858,
 'mode': 2888,
 'house': 2150,
 'ryan': 3814,
 'lose': 2670,
 'pass': 3206,
 'p2': 3166,
 'ctl': 1163,
 'air': 247,
 'jordan': 2409,
 '10': 11,
 'detailed': 1310,
 'series': 3935,
 'points': 3326,
 'iva6hphd7r': 2354,
 'strongest': 4241,
 'trumpsfavoriteheadline': 4597,
 'hurricane': 2176,
 'set': 3944,
 'east': 1449,
 'coast': 965,
 'freedom': 1799,
 'speech': 4125,
 'say': 3853,
 'truth': 4602,
 'really': 3578,
 'hate': 2027,
 'sun': 4279,
 'stress': 4235,
 'expression': 1599,
 'ugly': 4639,
 'civil': 920,
 'war': 4789,
 'toxic': 4536,
 'think': 4453,
 'poisoning': 3327,
 'yes': 4971,
 'bitch': 580,
 'supposed': 4292,
 'officers': 3100,
 'hundreds': 2173,
 'accidents': 159,
 'listen': 2630,
 'charlie': 867,
 'heat': 2048,
 'produced': 3424,
 'ice': 2186,
 'gm': 1901,
 'pres': 3388,
 'told': 4509,
 'coming': 995,
 'everyday': 1559,
 'sign': 4006,
 'paul': 3219,
 'tedcruz': 4393,
 'monday': 2898,
 'morning': 2910,
 '32': 78,
 'blogspot': 614,
 'ca': 749,
 '2016': 52,
 '05': 5,
 'html': 2160,
 'completed': 1015,
 '35': 81,
 'km': 2478,
 'll': 2642,
 'stick': 4208,
 'skinny': 4036,
 'average': 444,
 'seven': 3952,
 'ways': 4819,
 'industry': 2259,
 'experience': 1582,
 'shares': 3968,
 'mental': 2809,
 'powerful': 3367,
 'plz': 3316,
 'read': 3566,
 'feature': 1658,
 'took': 4515,
 'attempts': 428,
 'realise': 3572,
 'ok': 3107,
 'checked': 877,
 'mplusplaces': 2935,
 'download': 1400,
 'gomplaces': 1911,
 'favourite': 1651,
 'days': 1222,
 'victory': 4733,
 'makeamericagreatagain': 2727,
 'trumppence16': 4593,
 'southern': 4111,
 'qb': 3502,
 'options': 3134,
 'opportunity': 3130,
 'entering': 1521,
 'things': 4448,
 'success': 4262,
 'begin': 530,
 'candidates': 773,
 'weekend': 4832,
 'considered': 1055,
 'regarding': 3616,
 'paris': 3195,
 'brussels': 711,
 'comments': 998,
 'months': 2904,
 'ago': 236,
 'wakeupamerica': 4773,
 'email': 1489,
 'high': 2075,
 'rate': 3555,
 'west': 4843,
 'lo': 2647,
 'cops': 1088,
 'haram': 2017,
 'yea': 4965,
 'texted': 4422,
 'yesterday': 4972,
 'bound': 663,
 'flight': 1730,
 'im': 2218,
 'cher': 883,
 '70': 114,
 'style': 4254,
 'moments': 2896,
 'roll': 3775,
 'traveltuesday': 4560,
 'travel': 4559,
 'plans': 3299,
 'midnight': 2836,
 'june': 2426,
 'tax': 4367,
 '34': 80,
 'expectations': 1578,
 'posted': 3355,
 'grand': 1938,
 'downtown': 1401,
 'phoenix': 3263,
 'events': 1557,
 'king': 2472,
 'booker': 645,
 'kansas': 2438,
 'police': 3330,
 'investigating': 2310,
 'hahaha': 1987,
 'feeling': 1666,
 'hard': 2019,
 'job': 2394,
 'mentally': 2811,
 'gets': 1870,
 'better': 553,
 'matter': 2772,
 '25': 65,
 'terrorists': 4414,
 'important': 2233,
 'trumps': 4596,
 'recent': 3589,
 'blatant': 601,
 'lies': 2603,
 'ccot': 821,
 'teaparty': 4382,
 'nhprimary': 3029,
 'liked': 2612,
 'youtube': 4984,
 'lay': 2545,
 'fever': 1680,
 'wants': 4787,
 'money': 2899,
 'eu': 1548,
 'failure': 1618,
 'bomber': 634,
 'lawyer': 2543,
 'spotlight': 4140,
 'learn': 2558,
 '12': 17,
 'russia': 3811,
 'warned': 4794,
 'mueller': 2946,
 'boston': 658,
 'twice': 4624,
 'road': 3756,
 'rage': 3530,
 'incident': 2239,
 'caught': 813,
 'camera': 763,
 'trend': 4567,
 'perez': 3242,
 'tpp': 4537,
 'democrat': 1277,
 'headline': 2038,
 'unknown': 4665,
 'official': 3101,
 'makes': 2730,
 'claim': 922,
 'evidence': 1560,
 'hillary': 2084,
 'landing': 2514,
 'queen': 3507,
 'corruption': 1096,
 'trumppence2016': 4594,
 'maga': 2716,
 'coldplay': 971,
 'tu': 4608,
 'ta': 4329,
 'session': 3942,
 'military': 2843,
 'plane': 3295,
 'chinese': 894,
 'fighter': 1687,
 'bro': 698,
 'america': 295,
 'live': 2637,
 'holds': 2108,
 'conference': 1036,
 'pleads': 3313,
 'guilty': 1968,
 'crash': 1131,
 'killed': 2462,
 'warriors': 4800,
 'injury': 2269,
 'talk': 4346,
 'named': 2976,
 'smart': 4056,
 'outside': 3158,
 'regional': 3618,
 'leader': 2550,
 'digital': 1333,
 'innovation': 2274,
 'ow': 3161,
 'telling': 4401,
 'watching': 4811,
 'friends': 1808,
 'hour': 2148,
 'wedding': 4829,
 'tee': 4394,
 'loving': 2691,
 'process': 3422,
 'bonds': 639,
 'lot': 2678,
 'week': 4831,
 'baseball': 496,
 'reported': 3668,
 'traffic': 4543,
 'fixed': 1720,
 'collection': 975,
 'acab': 151,
 'thunder': 4474,
 'growing': 1957,
 'difference': 1329,
 'maker': 2729,
 'es': 1538,
 'pn': 3318,
 'restaurants': 3701,
 'gratitude': 1943,
 'firefighters': 1714,
 'sandiego': 3836,
 'mom': 2894,
 'condo': 1032,
 'fly': 1738,
 'american': 297,
 'flag': 1721,
 'walks': 4779,
 'door': 1395,
 'trip': 4580,
 'ain': 245,
 'backs': 464,
 'marriage': 2754,
 'saudi': 3846,
 'arabia': 370,
 'philippines': 3261,
 'taken': 4338,
 'fish': 1717,
 'chips': 896,
 'makeamovieedible': 2728,
 'northwest': 3053,
 'shipping': 3974,
 'record': 3597,
 '2015': 51,
 ...}

In [85]:
#Memasukan hasil vektorisasi kedalam list
list(islice(tweet_df_v.vocabulary_.items(), 20))

[('idol', 2199),
 ('singer', 4020),
 ('successful', 4263),
 ('fan', 1632),
 ('sones', 4092),
 ('proud', 3462),
 ('fandom', 1634),
 ('ijwd1stwin', 2210),
 ('video', 4735),
 ('watch', 4809),
 ('goals', 1903),
 ('helped', 2061),
 ('jonathan', 2406),
 ('receive', 3586),
 ('http', 2161),
 ('youtu', 4983),
 ('everybody', 1558),
 ('follow', 1747),
 ('instagram', 2286),
 ('amazing', 290)]

In [86]:
#K-Nearest Neighbors
knn = KNeighborsClassifier(n_neighbors=3, weights='distance')
knn.fit(X_train_v, y_train)

KNeighborsClassifier(n_neighbors=3, weights='distance')

In [87]:
#Menghitung nilai validitas antar data latih
print('Accuracy of K-NN classifier on training set: {:.2f}'.format(knn.score(X_train_v, y_train)))
print('Accuracy of K-NN classifier on validation set: {:.2f}'.format(knn.score(X_valid_v, y_valid)))

Accuracy of K-NN classifier on training set: 1.00
Accuracy of K-NN classifier on validation set: 0.81

In [88]:
tweet_df_test = pd.read_csv("data_test.csv")
tweet_df_test.head()

,Id,Tweet,following,followers,actions,is_retweet,location
0,8536,Obama Criminal Enterprise Collapsing https://...,10.0,4,1214.0,0,UP THRU DERE!
1,5214,I only learned to dream in sound #love,63.0,55,508.0,0,"Johannesburg, South Africa"
2,7437,Cause I ain't trying to out here thinking you ...,0.0,0,0.0,0,NaN
3,10009,When will they get that it's about #Liberty ? ...,2310.0,2736,32188.0,1,"Shreveport, LA"
4,4672,GM UAW workers to receive profit-sharing up to...,696.0,176,713.0,1,EVERYWHERE

In [89]:
# Melihat laporan confusion matrix dan classification (precision, recall, F1-score)
ytest = np.array(y_valid)

In [90]:
# Predict and calculate accuracy
y_pred=knn.predict(X_valid_v)
score=accuracy_score(ytest,y_pred)
print(f'Akurasi: {round(score*100,2)}%')

Akurasi: 80.95%

In [92]:
confusion_matrix(ytest,y_pred, labels=['Quality','Spam'])

array([[1150,   71],
       [ 385,  788]], dtype=int64)

In [93]:
#Membuat vectorizer
with open('vectorizer.pickle', 'wb') as f:
    pickle.dump(tweet_df_v, f)

In [94]:
#Membuat model
with open('model_spam.pickle', 'wb') as f:
    pickle.dump(knn, f)